{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>BoxOffice | Home</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/signin.css' %}" />
<style>
    body {
        background-image: url(static/images/the.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'images/the.jpg' %}");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(10px);
        z-index: -1;
    }

    .login {
        background-color: rgba(47, 54, 54, 0.57);
        height: 300px;
        margin: 80px 40px;
        border-radius: 30px;
        padding: 50px;
        margin-top: 190px;
        box-shadow: 16px 13px 40px #0a0000;

    }
</style>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 col-10 login">
            <form action="{% url 'otpverify' %}" method="POST" class="text-white">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'info' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <h1>OTP verification</h1>
                <div class="form-group">
                    <input class="form-control" type="text" name="otp" placeholder="Enter 4 digit otp here" required>
                </div>

                <input type="text" id="mobile-number" name="mtime" value="{{time}}" required hidden>
                <input type="text" id="mobile-number" name="mtimeid" value="{{timeid}}" required hidden>

                <input type="text" id="mobile-number" name="mprice" value="{{amount}}" required hidden>
                <input type="text" id="mobile-number" name="mmovi" value="{{movi}}" required hidden>
                <input type="text" id="mobile-number" name="mmoviid" value="{{moviid}}" required hidden>

                <input type="text" id="mobile-number" name="mseat" value="{{useat}}" required hidden>
                <input type="email" id="mobile-number" name="email" value="{{email}}" required hidden>
                <input type="text" id="mobile-number" name="mdate" value="{{date}}" required hidden>
                <input type="text" id="mobile-number" name="mdateid" value="{{dateid}}" required hidden>
                <input type="text" value="{{show}}" name="show" readonly hidden>




                <input type="text" value="{{A1}}" id="seatA1" name="A1" hidden />
                <input type="text" value="{{A2}}" id="seatA1" name="A2" hidden />
                <input type="text" value="{{A3}}" id="seatA1" name="A3" hidden />
                <input type="text" value="{{A4}}" id="seatA1" name="A4" hidden />
                <input type="text" value="{{A5}}" id="seatA1" name="A5" hidden />
                <input type="text" value="{{A6}}" id="seatA1" name="A6" hidden />
                <input type="text" value="{{A7}}" id="seatA1" name="A7" hidden />
                <input type="text" value="{{A8}}" id="seatA1" name="A8" hidden />
                <input type="text" value="{{A9}}" id="seatA1" name="A9" hidden />
                <input type="text" value="{{A10}}" id="seatA1" name="A10" hidden />


                <input type="text" value="{{B1}}" id="seatA1" name="B1" hidden />
                <input type="text" value="{{B2}}" id="seatA1" name="B2" hidden />
                <input type="text" value="{{B3}}" id="seatA1" name="B3" hidden />
                <input type="text" value="{{B4}}" id="seatA1" name="B4" hidden />
                <input type="text" value="{{B5}}" id="seatA1" name="B5" hidden />
                <input type="text" value="{{B6}}" id="seatA1" name="B6" hidden />
                <input type="text" value="{{B7}}" id="seatA1" name="B7" hidden />
                <input type="text" value="{{A8}}" id="seatA1" name="B8" hidden />
                <input type="text" value="{{B9}}" id="seatA1" name="B9" hidden />
                <input type="text" value="{{B10}}" id="seatA1" name="B10" hidden />

                <input type="text" value="{{C1}}" id="seatA1" name="C1" hidden />
                <input type="text" value="{{C2}}" id="seatA1" name="C2" hidden />
                <input type="text" value="{{C3}}" id="seatA1" name="C3" hidden />
                <input type="text" value="{{C4}}" id="seatA1" name="C4" hidden />
                <input type="text" value="{{C5}}" id="seatA1" name="C5" hidden />
                <input type="text" value="{{C6}}" id="seatA1" name="C6" hidden />
                <input type="text" value="{{C7}}" id="seatA1" name="C7" hidden />
                <input type="text" value="{{C8}}" id="seatA1" name="C8" hidden />
                <input type="text" value="{{C9}}" id="seatA1" name="C9" hidden />
                <input type="text" value="{{C10}}" id="seatA1" name="C10" hidden />

                <input type="text" value="{{D1}}" id="seatA1" name="D1" hidden />
                <input type="text" value="{{D2}}" id="seatA1" name="D2" hidden />
                <input type="text" value="{{D3}}" id="seatA1" name="D3" hidden />
                <input type="text" value="{{D4}}" id="seatA1" name="D4" hidden />
                <input type="text" value="{{D5}}" id="seatA1" name="D5" hidden />
                <input type="text" value="{{D6}}" id="seatA1" name="D6" hidden />
                <input type="text" value="{{D7}}" id="seatA1" name="D7" hidden />
                <input type="text" value="{{D8}}" id="seatA1" name="D8" hidden />
                <input type="text" value="{{D9}}" id="seatA1" name="D9" hidden />
                <input type="text" value="{{D10}}" id="seatA1" name="D10" hidden />




                <input class="btn btn-primary btn-lg" type="submit" value="submit">
            </form>
        </div>
    </div>
</div>





{% endblock %}